* {
  box-sizing: border-box;
}

body{
  background-color: cornsilk;
}
h1{
  font-family: Brushstroke, fantasy;
  text-align: center;
  font-size: 300%;
}
#p1, #p2,#p3{
  margin-top: 30px;

  
  
}
section{
  
  width: 33.33%;
  top: 10px;
  height: 150px;
  float: left;
  margin: 5px;
  font-family: Helvetica;
  font-size: 100%;
  border: 2px red solid;
  background-color: gray;
  clear: right;
}

#p1_btn,#p2_btn,#p3_btn{
  background-color:black;
  color: white;
  
  font-family: Georgia,sans-serif;
  text-align: center;
 
  float: right;
  height: 30px;
  width: 70px;
  font-size: 20px;  
}






/* Media Queries */
@media (min-width: 768px) and (max-width: 991px){
  #s1,#s2{
    width: 50%;
  }
  #s3{
    width: 100%;
  }
}

/********** Medium devices only **********/
@media(max-width: 767px) {
  #s1,#s2,#s3{
    width: 100%;
    
  }
}